body {
    margin:0;
    font-family: "Gordita regular";
}
h1{
    text-align: center;
    font-family: "Gordita medium";
    font-size: 45px;
    margin-bottom: 0;
    position: relative;
    top: 30px;
    display: none;
}

#game-container{
    width: 1080px;
    height: 720px;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px;
}


/* Start */
#start-screen{
    background-image: url(./images/ooooo.webp);
    border: 1px solid pink;
    position: relative;
    width: 1080px;
    height: 720px;
    display: flex;

}
#start-content{
    width: auto;
    height: auto;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: left;
    flex-direction: column;

    align-self: center;
    margin-left: 40%;
    margin-top: 40%;
}
#start-btn {    
    background-color: pink;
    color: white;
    padding: 20px;
    font-size: 20px;
    border-radius: 10px; 
    width: 225px;
    border: 3px solid rgb(231, 141, 141);
    font-family: "Gordita medium";
    font-size: 30px;
}
#name-input{
width: 160px;
height: 20px;
border-radius: 4px;
border: rgb(231, 141, 141) solid 1px;
}
#name-submit{
    font-family: "Gordita thin";
    font-weight: 700;
    height: 25px;
    border-radius: 3px;
    border: rgb(231, 141, 141) solid 1px;
}
input::placeholder{
    font-family: "Gordita regular";
}
#submit{
    padding-top: 5px;
    display: flex;
    align-items: center;
}
#Controls{
    width: 30%;
    position: absolute;
    left: 0;
    bottom: 0;
    margin: 10px 35px;
}
#Controls h2{
    margin-bottom: 0;
}
#Controls p{
    margin-top: 5px;
}



/* Game */
#game-screen{
    background-color: transparent;
    display: none;
    position: relative;
}
#game-box{
    border: 1px solid pink;
    width: 1080px;
    height: 720px;
    position: relative; /* permite posicionar los elementos de forma absoluta dentro del game-box */
    overflow: hidden; /* previene que los elementos salgan visualmente del game-box */
    user-select: none; /* previene que los elementos del game-box sean resaltados al hacer click */

}

#back, #middle, #front {
    width: 8643px;
    height: 100%;
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    top: 0;
}
#middle,#front{
    transition: transform 0.1s linear;
    margin-left: -500px;
}
#back{
    background-image:url("./images/background_layer_1.png") ;
    z-index: -2;
    width: 100%;
    background-size: 100% 100%;

}
#middle{
    background-image:url("./images/background_layer_2.png") ;   
    z-index: -1;

}
#front{
    background-image:url("./images/background_layer_3.png") ;
    z-index: 0;

}
#ui{
    z-index: 1;
    position: absolute;
}
#ui h3{
    color: aliceblue;
    padding-left: 15px;
    margin: 5px auto;
    font-size: 30px;
}
#hp{
    padding-left: 4px;
    display: flex;
    flex-direction: row;
}
#hp *{
    padding: 0 5px;
    margin: 0 auto;
    height: 50px;
}




/* End */
#end-screen{
    border: 1px solid pink;
    position: relative;

    display: none;
    width: 1080px;
    height: 720px;
    justify-content: space-between;
    background-image: url(./images/ooooo.webp);
}
#list-container{
height: 100%;
padding: 25px 25px;
width: 33vw;

}
#scoreboard{
    list-style-type: none;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    gap: 20px ;
}
#list-container h2{
margin-top: 5px;
margin-left: 10px;
font-size: 50px;
margin-bottom: 5px;

}


#credits{
    height: auto;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 25px 45px;

}
#replay{
    height: 60px;
    width: 100%;
    margin-bottom: 5px;
    font-family: "Gordita medium";
    font-weight: 600;
    font-size: 25px;
    border: 3px solid rgb(231, 141, 141);
    background-color: pink;
    color: white;
    border-radius: 15px;
}

#credits h3{

    margin-top: 0;
    margin-bottom: 5px;
    font-size: 15px;
    text-decoration: underline;
}
#art{
    font-size: 15px;
    list-style-type: none;
    margin-top:  0;
    padding-left: 0;
}